*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: Open Sans;
}

/* Nav-bar Start */

#logo{
     font-size: 36px;
     font-weight: 700;
     color: black;
     text-shadow: 0px 1px 1px black;
     margin-bottom: 5px;

}
#logo::first-letter{
    color: #f78c11
}
#image-logo{
    margin-left:-50px;
}

#navbar{
    background-color: #f9f9f9;
}
.navbar-toggler span{
    color: #f78c11;
}
#navbar-nav{
    margin-left: 20px;
}

.nav-item .nav-link{
    font-size: 16px;
    font-weight: 500;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5px ease;
}

.nav-item .nav-link:hover{
    background-color: #f78c11;
    color: white;
}

.btn{
    background-color: #f78c11;
    color: white;
    border: none;
}
.dropdown:hover .dropdown-menu{
    display: block;
}

/* Nav-bar End */

/* Home Section */
.home{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)),url(../images/Germany.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.home .content{
    text-align: center;
    padding-top: 200px;
}
.home .content h4{
    color: white;
    font-size: 38px;
    font-weight: 500;
    text-shadow: 0px 0px 1px black;
}
.home .content h1{
    color: white;
    font-size: 70px;
    font-weight: 550;
    text-shadow: 0px 0px 1px black;
    margin-top: 10px;
}
.changecontent::after{
    content: '';
    
    color: #f09936;
    text-shadow: 0px 0px 1px black;
    animation: changetext 10s infinite linear;

}
@keyframes changetext {
    0%{content: "Germany";}
    20%{content: "France";}
    40%{content: "India";}
    60%{content: "United States";}
    80%{content: "Italy";}
    100%{content: "Sri Lanka";}
}
.home .content a{
    text-decoration: none;
    text-shadow: 0px 0px .5px black;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    transition: 0.3s;
    color: black;
    opacity: 100;
    letter-spacing: 2px;
    opacity: .8;
}
.home .content a:hover{
    opacity: .8;
    color: white;
    background-color: #f78c11;

}
@media (max-width:850px){
    .home{
        background-position: 50%;
    }

}



